.frameChild {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 38.813rem;
}
.frameChild,
.frameIcon,
.frameInner,
.frameItem {
  position: absolute;
  border-radius: var(--br-smi);
  overflow: hidden;
  object-fit: cover;
}
.frameItem {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 64.75rem;
  max-height: 100%;
  width: 25.625rem;
}
.frameIcon,
.frameInner {
  top: 5.188rem;
  left: 39.438rem;
  width: 24.688rem;
  height: 17.188rem;
}
.frameIcon {
  left: 91rem;
}
.frameParent {
  width: 115.688rem;
  height: 22.375rem;
  position: relative;
  display: none;
  max-width: 100%;
}
.headerParent,
.terms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.headerParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-35xl);
  max-width: 100%;
}
.terms {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  gap: 4.687rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .headerParent {
    gap: var(--gap-8xl);
  }
  .terms {
    gap: var(--gap-18xl);
  }
}
@media screen and (max-width: 450px) {
  .terms {
    gap: var(--gap-lgi);
  }
}
