.ict {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 3.438rem;
}
.ictWrapper {
  width: 65.063rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.contentPlaceholderIcon {
  width: 27.438rem;
  position: relative;
  border-radius: var(--br-smi);
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 100%;
}
.strength {
  position: relative;
  display: inline-block;
  min-width: 5.438rem;
}
.luxembourgStandsAs {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
  text-align: justify;
}
.strengthContainer {
  width: 24.188rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  max-width: 100%;
}
.challenges {
  position: relative;
  display: inline-block;
  min-width: 7.563rem;
}
.challengesPersistFor {
  align-self: stretch;
  position: relative;
  color: var(--color-black);
  text-align: justify;
}
.challengesContainer {
  width: 22.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.contentPlaceholderParent,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-35xl);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.frameParent {
  margin-left: -0.375rem;
  margin-bottom: 4.187rem;
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-35xl) var(--padding-31xl) var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-27xl);
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1325px) {
  .contentPlaceholderParent {
    flex-wrap: wrap;
  }
  .frameParent {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .ict {
    font-size: var(--font-size-7xl);
  }
  .contentPlaceholderParent {
    gap: var(--gap-8xl);
  }
  .frameParent {
    gap: var(--gap-4xl);
    padding-top: var(--padding-16xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .ict {
    font-size: var(--font-size-lgi);
  }
  .challenges,
  .challengesPersistFor,
  .luxembourgStandsAs,
  .strength {
    font-size: var(--font-size-base);
  }
  .frameParent {
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
