.frameChild {
  flex: 1;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.energyTechnologyPerspectives,
.frameChild,
.theAnalysisShows {
  align-self: stretch;
  position: relative;
}
.theAnalysisShows {
  font-size: var(--font-size-base);
}
.newsActionIconsCopy {
  height: 1rem;
  width: 0.5rem;
  position: relative;
  background-color: var(--color-crimson);
}
.posted25Min {
  color: var(--color-black);
  white-space: pre-wrap;
}
.financePostedContainer {
  position: relative;
}
.energyTechnologyPerspectivesParent,
.frameParent,
.newsActionsCopy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.newsActionsCopy {
  flex-direction: row;
  font-size: var(--font-size-smi);
  color: var(--color-crimson);
}
.energyTechnologyPerspectivesParent,
.frameParent {
  align-self: stretch;
  flex-direction: column;
}
.frameParent {
  flex: 1;
  padding: var(--padding-smi) 0 var(--padding-10xs);
  gap: var(--gap-base);
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .energyTechnologyPerspectives {
    font-size: var(--font-size-base);
  }
}
