.frameChild {
  width: 13rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.headerInner {
  width: 17.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerChild,
.headerItem {
  height: 0.25rem;
  width: 7.563rem;
  position: relative;
  border-top: 4px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: none;
}
.home {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 2.813rem;
  cursor: pointer;
}
.homeAboutLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-8xs) 0 0;
}
.aboutUs {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 4.25rem;
  white-space: nowrap;
  cursor: pointer;
}
.homeAboutLinks1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.sectors {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 3.688rem;
}
.sectorsLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.frameItem {
  height: 0.25rem;
  width: 7.563rem;
  position: relative;
  border-top: 4px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: none;
}
.expandArrowIcon {
  height: 2.169rem;
  width: 1.5rem;
  position: relative;
  object-fit: cover;
}
.frameWrapper,
.sectorsLabelParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sectorsLabelParent {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.frameWrapper {
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
}
.countries {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 4.875rem;
}
.countriesName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.expandArrowIcon1 {
  height: 2.169rem;
  width: 1.5rem;
  position: relative;
  object-fit: cover;
}
.countriesLabel,
.countriesNameParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.countriesNameParent {
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.countriesLabel {
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-3xs);
}
.frameInner {
  width: 7.563rem;
  height: 0.25rem;
  position: relative;
  border-top: 4px solid var(--color-deepskyblue);
  box-sizing: border-box;
  flex-shrink: 0;
}
.countriesLabelParent {
  height: 3.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-lg-3);
  box-sizing: border-box;
  gap: var(--gap-lg-3);
}
.groupIcon {
  width: 0;
  height: 0;
  position: relative;
}
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  width: 0;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.frameGroup {
  flex-direction: row;
  gap: var(--gap-xs);
  color: var(--color-darkslateblue);
}
.contactUs {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 5.188rem;
  white-space: nowrap;
}
.lineDiv {
  height: 0.25rem;
  width: 7.563rem;
  position: relative;
  border-top: 4px solid var(--color-deepskyblue);
  box-sizing: border-box;
  display: none;
}
.contactUsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}
.contactUsParent,
.frameDiv,
.frameParent {
  justify-content: flex-start;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.frameParent {
  flex-direction: row;
  gap: var(--gap-17xl);
}
.frameParent,
.homeAbout,
.homeAboutWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.homeAbout {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.homeAboutWrapper {
  width: 41.125rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 0;
  box-sizing: border-box;
}
.searchIcon {
  width: 2.125rem;
  height: 2rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.subscribe {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 5rem;
}
.subscribeWrapper {
  border-radius: var(--br-smi);
  background-color: var(--color-darkslateblue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-21xl);
}
.header,
.searchParent,
.searchSubscribe,
.subscribeWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.searchParent {
  flex-direction: row;
  gap: var(--gap-16xl);
}
.header,
.searchSubscribe {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  color: var(--color-white);
}
.header {
  align-self: stretch;
  background-color: var(--color-white);
  border: 0.5px solid var(--color-darkgray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-lgi) var(--padding-34xl) 0;
  gap: var(--gap-55xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .homeAbout {
    display: none;
  }
  .homeAboutWrapper {
    width: 0;
  }
  .header {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .header {
    gap: var(--gap-18xl);
  }
}
@media screen and (max-width: 450px) {
  .frameParent,
  .header {
    gap: var(--gap-lg);
  }
}
